eCommerceProj/eCommerceCore/bin
eCommerceProj/eCommerceCore/obj
eCommerceProj/eCommerceWeb/bin
eCommerceProj/eCommerceWeb/obj
eCommerceProj/eCommerceInfrastructure/bin
eCommerceProj/eCommerceInfrastructure/obj
eCommerceProj/.vs